body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  margin: 4px;
}

.envelope {
  width: 600px;
  height: 300px;
  border: 1px solid red;
}

.from-person {
  color: blue;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.to-person {
  display: flex;
  justify-content: center;
}

.stamp {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin:10px; */
  height: 80px;
  width: 70px;
  border: 1px dotted black;
}

.credit-card {
  margin: 50px;
  background-color: royalblue;
  color:white;
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

.bank-name {
  padding: 15px 15px 0 0 ;
  font-size: 29px;
  /* font-weight: bold; */
  font-family: Barmeno;
  text-align: right;
}

.card-number {
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
  font-family: ITC Officina;
}
.card-first-four {
  font-size: 10px;
  padding-left:40px;
}
.valid-thru {
  font-size: 10px;
  padding: 10px 0 0 40px;
}
.name {
  padding: 10px 0 0 40px;
}