body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  margin: 4px;
}

.envelope {
  width: 600px;
  height: 300px;
  border: 1px solid red;
}

.from-person {
  color: blue;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.to-person {
  display: flex;
  justify-content: center;
}

.stamp {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin:10px; */
  height: 80px;
  width: 70px;
  border: 1px dotted black;
}

.credit-card {
  margin: 50px;
  background-color: royalblue;
  color:white;
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

.bank-name {
  padding: 15px 15px 0 0 ;
  font-size: 29px;
  /* font-weight: bold; */
  font-family: Barmeno;
  text-align: right;
}

.card-number {
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
  font-family: ITC Officina;
}
.card-first-four {
  font-size: 10px;
  padding-left:40px;
}
.valid-thru {
  font-size: 10px;
  padding: 10px 0 0 40px;
}
.name {
  padding: 10px 0 0 40px;
}

.poster {
  border: 2px solid #32a1ce;
  background-color: black;
  color: rgb(41, 125, 194);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 400px;
  height: 300px;
}

.image img {
  margin-top:10px;
  height: 200px;
  border: 1px solid #32a1ce;
}
.poster-title {
  padding-top: 5px;
  font: bold 2.2em "Fira Sans", serif;
}
.poster-text {
  color: white;
  font: 1em "Fira Sans", sans-serif;
}